:root {
    --couleur-labstock-100: rgb(94,199,228);
    --couleur-labstock-20: rgb(233,244,250);
    --couleur-eqm-100: rgb(111,189,132);
    --couleur-eqm-20: rgb(234,242,233);

    --couleur-tm: rgb(0,141,176);
  }